<h1>New Song:</h1>
<form action="/songs" method="post">

<label>Song Name:</label><br>
<input type="text" id="Name" name="song[name]"><br>

<label>Artist Name:</label><br>
<input type="text" id="Artist Name" name="artist[name]"><br>

<label>Genres:</label><br>
<% @genres.each do |genre| %>
    <input type="checkbox" name="song[genre_ids][]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input><br>
<% end %>

<input type="submit" id="Create" value="Create">
</form>